<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salad</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
   <h1>Salad</h1>
   <!-- recipes list -->
   <div class="recipes-list">
    <!-- single recipe -->
    <a href="single-recipe.html" class="recipe">
      <img 
        src="./assets/recipes/salad.jpeg" 
        alt="food"
        class="img recipe-img"
      />
      <h5>salad</h5>
      <p>Prep: 15min | Cook: 0min</p>
    </a>
    <!-- end of single recipe -->
  </div>
  <!-- end recipes list -->
    
  </body>
</html>
